.profile-breadcrumb {
  font-size: 22px;
  font-family: "Rajdhani";
  margin: 0; padding: 0; 
}

.profile-breadcrumb1 {
  padding: 10px;
  background: #fff;
}

.profile-container {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding: 20px;

}
.profile-subcontainer {
  border: 1px solid #000;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-right: 10px;
}

.profile-subcontainer1 {
  flex: 1;
  border: 1px solid #000;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  max-height: 300px;
}

.profile-container h2 {
  font-size: 24px;
  font-family: "Rajdhani", sans-serif;
}
.profile-subcontainer p {
  font-size: 16px;
  font-family: "Rajdhani", sans-serif;
}

.profile-btn {
  background: #ddb42c !important;
  border-radius: 5px;
  padding: 6px 15px;
  font-weight: 500;
  font-size: 14px;
  color: #000 !important;
  font-family: "Rajdhani", sans-serif;
  margin:0px auto;
  display: flex;
  height:35px;

}

.account-container {
 
    padding: 20px;
  }
.account-subcontainer {
    border: 1px solid #000;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
   
  }

  .account-container h2 {
    font-size: 24px;
    font-family: "Rajdhani", sans-serif;
  }

@media (max-width: 768px) {
  .profile-container {
    display: flex;

    flex-direction: column;
  }
  .profile-subcontainer {
    margin-bottom: 20px;
  }
}



@media (min-width: 768px) {
  .profile-breadcrumb1 {
    max-width: 920px;
    margin: 0 auto;
    padding:20px;
    
  }
  .profile-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
   
  }
  .account-container {
    max-width: 960px;
    margin: 20px auto;
    padding: 0 20px;
   
  }
  .profile-outer-container {
    min-height: 100vh;
    background-color: #fff;
  }
  .account-profile{
    background: #fff;
    max-width: 920px;
    margin: 0  auto;
  }
}

@media (max-width: 767px) {
  .profile-breadcrumb1 {
    max-width: 100%;
    padding:20px;
  }
  .profile-subcontainer {
    border: 1px solid #000;
    border-radius: 5px;
  }
}