.booking-breadcrumb {
    padding: 10px;
    background: #fff;
  }
  .booking-breadcrumb p {
    font-size: 24px;
    font-family: "Rajdhani", sans-serif;
  }
  
  .booking-container {
    padding: 20px;
  }
  
  .booking-breadcrumb-subcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.booking-container {
    padding: 20px;
  }
  
  .booking-subcontainer {
    border: 1px solid #000;
    border-radius: 5px;
    background: #fff;
    padding:20px;
  }
  
  .booking-subcontainer h2 {
     font-family: 'Rajdhani', sans-serif !important;
     font-size: 24px;
    }

    @media (max-width: 767px) {
 
        .booking-breadcrumb-subcontainer {
         display: block;
         margin-left: 35px;
       }
        
     }
  
 