.author-details-btn{
    width:490px;
  }

  .author-btn {
    background: #ddb42c !important;
    border-radius: 5px;
    padding: 9px 16px;
    font-weight: 500;
    font-size: 14px;
    color: #000 !important;
    font-family: "Rajdhani", sans-serif;
    margin:0px auto;
    display: flex;
    width:100px;
    height:40px;
  
  }

  @media (max-width: 768px) {
    .author-details-btn{
        width:290px;
      }
      
  
  }