.all-course {
    padding: 30px;
  }
  
  .all-course h2 {
    font-size: 32px;
    font-family: "Rajdhani", sans-serif;
  }
  
  .new-course-btn {
    background: #ddb42c !important;
    border: 1px solid #ddb42c !important;
    color: #000 !important;
    font-size: 18px;
    cursor: pointer;
    width: 140px;
    height: 40px;
    border-radius: 5px;
    padding: 2px;
    font-family: "Rajdhani", sans-serif;
  }

  .all-course-text{
    font-size: 18px;
    font-family: "Rajdhani", sans-serif;
    margin-top:10px;
    margin-bottom: 20px;
  }

 .ant-table-thead{
    font-family: "Rajdhani", sans-serif;
 }
 
 .published-button {
  border: 1px solid green;
  color: green;
}

.unpublished-button {
  border: 1px solid red;
  color: red;
}
  
  
  
  
  
  