.signup-container {
    background-image: url("../../../assets/img/cube_dark.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    padding:20px; 
  }

.signup-form-container{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #dcb52c;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.signup-container h2{
    font-size: 24px;
    font-family: "Rajdhani", sans-serif;
  
}
.signup-container p{
    font-size: 14px;
    font-family: "Rajdhani", sans-serif;
   
}

.signup-container a{
    font-size: 14px;
    font-family: "Rajdhani", sans-serif;
  
}

.signup-btn {
    background: #ddb42c !important;
    border: 1px solid #ddb42c !important;
    color: #000 !important;
    font-size: 18px;
    cursor: pointer;
    width: 145px;
    height: 40px;
    border-radius: 5px;
    padding: 2px;
    font-family: "Rajdhani", sans-serif;
  }

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #ddb42c !important;
    border-color: #ddb42c !important;
  }

  .ant-checkbox-checked .ant-checkbox-inner::after {
    border-color: black; 
  }

  
  
  
  
  
  
