.card-hover:hover {
  border: 2px solid goldenrod;
}

@media (max-width: 768px) {
  .card-hover {
    margin: 0 auto;
  }
}

.my-course-container {
  height: auto;
}

.card-hover {
  width: 300px;
}

.custom-hr {
  border-top: 1px solid #dcdcdc;
  margin-top: 10px;
}

.info-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.info-text {
  margin-left: 10px;
}

.price-text1 {
  margin-left: 10px;
  color: goldenrod;
}

/* .custom-card1 {
    width: 300px;
  
  } */

/* @media (min-width: 768px) {
    .my-course-container {
      padding: 60px; 
    }
  } */

.my-course-container {
  display: flex;
  flex-wrap: wrap;
  /* margin: auto; */
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.custom-card1 {
  margin-bottom: 20px;
  flex: 1 0 calc(25% - 20px);
  box-shadow: 0 0 6px goldenrod;
  /* margin-right: 20px; */
}
