.blueprint-breadcrumb {
  padding: 10px;
  background: #fff;
}

.blueprint-container {
  padding: 20px;
}

.blueprint-subcontainer0 {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #fff;
}

.blueprint-subcontainer1 {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #fff;
 margin-left: 20px;
}

.blueprint-container h2 {
  font-size: 26px;
  font-family: "Rajdhani", sans-serif;
}

.blueprint-background {
  background-image: url("../../../assets/img/cube_dark.jpg");
  border-radius: 5px;
  position: relative;
  background-size: cover;
  width: 100%;
  height: 400px;
}

.blueprint-background .text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  text-align: center;
}
.blueprint-background .text-overlay h2 {
  color: #fff;
  font-family: "Rajdhani", sans-serif;
}
.blueprint-background .text-overlay p {
  color: #fff;
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
}

.blueprint-custom-container {
  border: 1px solid #000;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.blueprint-nested-container h2 {
  background-color: #000;
  color: #fff;
  padding: 20px;
  font-size: 28px;
  font-family: "Rajdhani", sans-serif;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  text-align: center;
}

.preview-next-window-btn {
  color: #000 !important;
  background: #dcb52c !important;
  font-size: 16px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  margin-top: 10px;
  width: 100%;
  height:40px;
}

.affiliate-blueprint{
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    text-align: center;
}

.copy-blueprint-btn{
    color: #000 !important;
    background: #dcb52c !important;
    font-size: 16px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
     margin-top: 37px;
    width: 85px;
    height:35px;
}

.add-blueprint-btn{
  color: #000 !important;
  background: #dcb52c !important;
  font-size: 16px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
   margin-top: 37px;
  width: 80px;
  height:35px;
}

.rank-img{
    width:100%;
    height:398px;
}

.blueprint-breadcrumb0{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .blueprint-breadcrumb0{
        display: flex;
        flex-direction: column;
       
    }
    .blueprint-subcontainer1 {
     margin-left: 0px;
      margin-top: 20px;
    }
    .preview-next-window-btn{
        margin-left: 0px;
    }
}
