.login-container {
  background-image: url("../../assets/img/cube_dark.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.form-container {
  background: #fff;
  padding: 36px;
  border-radius: 5px;
  box-shadow: 0 0 10px #dcb52c;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.site-form-item-icon {
  color: rgba(0, 0, 0, 0.25);
}

.login-logo {
  margin-bottom: 20px;
}

.ant-form-item-explain-error {
  text-align: left;
  margin-left: 0;
}

.login-btn {
  background: #ddb42c !important;
  border: 1px solid #ddb42c !important;
  color: #000 !important;
  font-size: 18px;
  cursor: pointer;
  width: 140px;
  height: 40px;
  border-radius: 5px;
  padding: 2px;
  font-family: "Rajdhani", sans-serif;
}

.button-container {
  display: flex;
  justify-content: space-between;
}


