.affiliate-link-breadcrumb {
    padding: 10px;
    background: #fff;
  }
  .affiliate-link-breadcrumb p {
    font-size: 24px;
    font-family: "Rajdhani", sans-serif;
  }
  
  .affiliate-link-container {
    padding: 20px;
  }
  
  .affiliate-link-breadcrumb-subcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .affiliate-link-container {
    padding: 20px;
  }
  
  .affiliate-link-subcontainer {
    border: 1px solid #000;
    border-radius: 5px;
    background: #fff;
    padding:20px;
  }
  
  .affiliate-link-subcontainer h2 {
     font-family: 'Rajdhani', sans-serif !important;
     font-size: 24px;
    }
  
    @media (max-width: 768px) {
    
        .affiliate-link-breadcrumb-subcontainer {
          display: block;
          margin-left: 35px;
        }
    
    }
  