.add-template-breadcrumb {
  padding: 10px;
  background: #fff;
}
.add-template-breadcrumb p {
  font-size: 24px;
  font-family: "Rajdhani", sans-serif;
}

.add-template-container {
  padding: 20px;
}

.add-template-breadcrumb-subcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-template-container {
  padding: 20px;
}

.add-template-subcontainer {
  border: 1px solid #000;
  border-radius: 5px;
  background: #fff;
  padding: 20px;
}

.add-template-subcontainer h2 {
  font-family: "Rajdhani", sans-serif !important;
  font-size: 24px;
}

.add-template-btn {
  background: #ddb42c !important;
  border-radius: 5px;
  padding: 6px 15px;
  font-weight: 500;
  font-size: 14px;
  color: #000 !important;
  font-family: "Rajdhani", sans-serif;
  margin: 0px auto;
  display: flex;
  width: 110px;
  height: 35px;
}

.upload-btn {
  width: 330px;
}

@media (max-width: 768px) {
  .upload-btn {
    width: 290px;
  }
  .add-template-breadcrumb-subcontainer {
    display: block;
    margin-left: 35px;
  }
}

@media (min-width: 768px) {
  .upload-btn {
    width: 500px;
  }
}
