
 
.ant-layout-sider-zero-width-trigger {
  top: 0 !important;
  background: #010001 !important;
}

.ant-layout-header{
  background: #010001 !important;
  padding: 0 20px !important;
  color: #010001 !important;
}

.ant-space-item{
  background: #010001 !important;
  /* padding: 0 20px !important; */
}