.add-media-breadcrumb {
    padding: 10px;
    background: #fff;
  }
  .add-media-breadcrumb h2 {
    font-size: 20px;
    font-family: "Rajdhani", sans-serif;
  }
  
  .add-media-container {
    padding: 20px;
  }
  
  .add-media-breadcrumb-subcontainer{
      display: flex;
      justify-content: space-between;
      align-items: center;
  
  }

  .add-media-container {
    padding: 20px;
  }

  .add-media-subcontainer{
    border:1px solid #000;
    padding:15px;
    background: #fff;
    border-radius: 5px;
  }

  .add-media-subcontainer h2{
    font-family: 'Rajdhani',sans-serif;
    font-size: 24px;
  }

  .add-media-subcontainer0{
    margin-top: 20px;
  }

  
  .add-media-btn{
    background: #ddb42c !important;
    border-radius: 5px;
    padding: 4px 12px;
    font-weight: 500;
    font-size: 14px;
    color: #000 !important;
    font-family: "Rajdhani", sans-serif;
    display: flex;
    align-items: center;
  }